@page
@using Maxicycles.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Basket</h1>

@if (Model.BasketItemModels.Any())
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].ServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].TotalPrice)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.BasketItemModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @(item.Item is BasketService ? item.ServiceDate : "N/A")
                    @Html.DisplayFor(modelItem => item.ServiceDate)
                </td>
                <td>
                    £@Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    £@Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th>Overall total</th>
            <th>£@Html.DisplayFor(model => model.OverallTotal)</th>
            </tr>
            </tfoot>
    </table>

    <p>Shipping is calculated at the next step.</p>
    <a class="btn btn-primary btn-lg" asp-page="/Checkout/Index">Checkout</a>
}
else
{
    <h2>Your basket is empty!</h2>
}