@page
@using Maxicycles.Models
@model Maxicycles.Pages.Basket.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.BasketItemModels.Any())
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].ServiceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasketItemModels[0].TotalPrice)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.BasketItemModels) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <a asp-page="/Checkout/Index">Checkout</a>
}
else
{
    <h2>Your basket is empty!</h2>
}
