@page "{slug}"
@using Maxicycles.Models
@model Maxicycles.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Items</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detail</li>
    </ol>
</nav>

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.SubCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.SubCategory.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Image.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
    
    @if (Model.Item is Service)
    {
        <a asp-page="/Basket/AddService" asp-route-id="@Model.Item.Id">Book Now</a>
    }
    else if (Model.Item is Product product)
    {
        @if (product.Quantity <= 0)
        {
            <p>OUT OF STOCK</p>
        }
        else
        {
            <a asp-page="/Basket/AddProduct" asp-route-id="@Model.Item.Id">Add to Basket</a>
        }
    }
</div>
