@page "{category?}/{subCategory?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Items</li>
    </ol>
</nav>

@if (Model.Items.Count > 0)
{
    <div class="row">
        @foreach (var item in Model.Items)
        {
            <div class="col-sm-4">
                <div class="card">
                    <img decoding="async" alt="@item.Image!.AltText" src="@("/uploads/" + item.Image.ImageName)" class="card-img-top"/>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Price)</h6>
                        <a asp-page="./Details" asp-route-slug="@item.Slug" class="card-link">View</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Sorry, nothing was found!</p>
}