@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserDetail.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserDetail.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserDetail.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.AddressLine1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserDetail.AddressLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.AddressLine2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserDetail.AddressLine2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserDetail.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.Postcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserDetail.Postcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserDetail.PhoneNumber)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.UserDetail.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>