@page
@model Maxicycles.Pages.Admin.Blog.Comments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.UploadedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.UploadedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.MaxicyclesUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.MaxicyclesUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Post)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Post.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Comment?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
