@page
@using Microsoft.EntityFrameworkCore
@model Maxicycles.Pages.Blog.DetailsModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-page="./Index">Blogs</a></li>
        <li class="breadcrumb-item active" aria-current="page">Post</li>
    </ol>
</nav>

@{
    ViewData["Title"] = "Details";
}
<img decoding="async" class="card-img-top" alt="@Model.Post.AltText" src="@("/uploads/"+ Model.Post.ImageName)" />

<h1>@Html.DisplayFor(model => model.Post.Title)</h1>
<h4><b>By @Html.DisplayFor(model => model.Post.AuthorFullName)</b> at  @Html.DisplayFor(model => model.Post.UploadedAt)</h4>
<hr />

<p class="mb-4">@Html.Raw(Markdig.Markdown.ToHtml(Model.Post.Content!))</p>

<hr/>
<h3>Comments</h3>

@if (Model.Post.Comments is {Count: > 0 })
{
    foreach (var comment in Model.Post.Comments)
    {
        <div class="row mb-4">
            <div class="col-md-10">
                <p class="mb-1">@comment.Content</p>
                <small >By @comment.AuthorFullName at @comment.UploadedAt</small>
            </div>
            <div class="col-md-2">
             @if (comment.BelongsToUser)
              {
                  <a asp-page="./Delete" asp-route-id="@comment.Id">Delete</a>
              }
            </div>
        </div>
    }
}
else
{
    <p>No comments.</p>
}

@if (User.Identity!.IsAuthenticated)
{
    <form method="post">
        <div class="form-group">
            <label asp-for="CommentCreate.Content" class="control-label"></label>
            <textarea asp-for="CommentCreate.Content" class="form-control"></textarea>
            <span asp-validation-for="CommentCreate.Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
}
else
{
    <p>Please <a asp-area="Identity" asp-page="/Account/Login">Sign in</a> to comment.</p>
}


<div>
    <a asp-page="./Index">Back</a>
</div>
