@page
@model Maxicycles.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Blogs</li>
    </ol>
</nav>

<h1>Blog Posts</h1>
<hr/>
<div class="row">
    @foreach (var item in Model.Post)
    {
            <div class="col-lg-12 col-xl-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <img decoding="async" class="card-img-top" alt="@item.AltText" src="@("/uploads/"+ item.ImageName)" />
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.UploadedAt)</h6>
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Excerpt) </p>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
    }
</div>