@page
@model Maxicycles.Pages.Admin.Store.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.RequiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.RequiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ShippedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ShippedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DeliveryMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DeliveryMethod.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.MaxicyclesUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.MaxicyclesUser.Id)
        </dd>
        <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Order.MaxicyclesUser)
                </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.MaxicyclesUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Postcode)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderItem[0].Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItem[0].Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItem[0].ItemPrice)
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderItem) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemPrice)
        </td>
    </tr>
}
    </tbody>
</table>